@import 'scales';
@import 'typography';
@import 'colours';

h1,h2,h3,h4,h5,h6, {
  color: $heading-text-grey-alt;
}

p {
  color: $para-text-grey;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.container {
  max-width: 400px;
  background-color: $background-grey;
}

.header {
  background-color: $header-red-main;
  padding: 1em;
  min-height: 2.5em;
}

.header.ng-enter {
    background-color: $header-red-main;
  transition:0.5s linear all;
    min-height: 2.5em;
  // min-height: 2.5em;
}
.header.ng-enter.ng-enter-active {
    background-color: $header-red-main;
  transition:0.5s linear all;
  min-height: 7.5em;
}


.header-text {
  color: $white;
  padding: .3em;
  margin: auto;
  background: $header-red-inner;
  text-align: center;
}

.header-border {
  border: 2px solid;
  border-color: $header-red-border;

}
.header-small-box {
  background: $header-red-inner;
  color: $header-text-dark;
  padding: .5em;
  width: 20%;
  font-size: .9em;
  text-align: center;
}

.header-confirm-button {
  background: $white;
  color: $header-red-main;
  width: 60%;
  padding: .3em;
  font-size: 1em;
  margin-left: .5em;
}

.header-main-count {
  float: left;
}

.header-total-price {
  float: right;
  width: 20%;
  color: $white;
}

#welcome {
  padding: .2em;
  margin-left: .3em;
}
// Menu Items

.meal {
  width: 90%;
  padding: 1em;
}

.image {
  width: 100%;
  height: 300px;
}

.name {
  text-align: center;
  font-size: 1.3em;
  margin-top: 55%;
  padding: 1.3em;
  background: $white;
  opacity: 0.7;
}

.menu-item-info {
  background-color: $white;
  border: 3px solid $background-grey;
}

.description {
  padding: 5%;
  // text-overflow: ellipsis; //implement if time
}

.button-container {
  margin: 0 auto;
}

.price {
  background-color: $yay-blue;
  color: $white;
  padding: .3em;
  text-align: center;
  width: 20%;
  margin: 0 auto;
}

.button-container {
  text-align: center;
}
.button-add-item {
  height: 2em;
  width: 70%;
  color: white;
  background-color: $yay-blue;
  padding: .3em .8em;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.curve {
  width: 100%;
}
