  <div class="header checkout">

    <div class="basket-ordered">
      <div class="basket-ordered-items header-border header-text" ng-repeat="meal in ctrl.basket track by $index">
        <div class="basket-meal-name">
          <p class="basket-text">  {{ meal.name }}</p>
        </div>
        <div class="basket-meal-price basket-text">
          {{ meal.price | currency: "&pound;"}}
        </div>
      </div>
    </div>

    <a href="/">
      <button class="header-confirm-button header-border" ng-click="ctrl.confirmOrder()">
          <em><b>Confirm Your Order</b></em>
      </button></a>
      <button class="header-total-price header-small-box header-border">
        <b> {{ ctrl.totalCost | currency: "&pound;"}} </b>
    </button>
  </div>
